@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Josefin Sans', sans-serif;
  margin: auto;
  max-width: none;
  padding: 0;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&display=swap');
}

@font-face {
  font-family: 'Merienda';
  src: url('https://fonts.googleapis.com/css2?family=family=Merienda&display=swap');
}


/* Fonts */
.josefin-font {
  font-family: 'Josefin Sans', sans-serif;
}

.merienda-font {
  font-family: 'Merienda', cursive;
}

.alta-white {
  color: #ebebeb;
}

.alta-gray-bg {
  background-color: #1d1d1d;
}

.alta-play-bg {
  background-color: rgba(0, 0, 0, .4);
}

.alta-min-height-full {
  min-height: calc(100vh - 64px);
}

.w-88 {
  width: 22rem;
}

.w-112 {
  width: 28rem;
}

.w-home-right {
  width: calc(100% - 32rem);
}

.w-128 {
  width: 32rem;
}

.header-height-margin {
  margin-top: 64px;
}

.max-height-with-header {
  max-height: calc(100vh - 64px);
}
